@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
  height: 100%;
  background-color: #251D3A;
  margin-left: 10%;
  margin-right: 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  height: .1rem;
  width: 100%;
  bottom: 0;
  background-color: #6C63FF;
}

.img-logo {
  height: 3rem;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 1.5rem;
}

.menu-iten {
  font-size: 1.2rem;
  cursor: pointer;
}

.banner {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.container {
  padding-top: 10rem;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.img-banner {
  padding-top: 4rem;
}

.project {
  height: 100vh;
}

.title-port {
  font-size: 2.2rem;
  text-align: center;
  position: relative;
}

.title-port::before {
  content: '';
  position: absolute;
  height: .3rem;
  width: 10rem;
  bottom: 0;
  border-radius: 8px;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

.img-project {
  display: flex;
  justify-content: space-between;
  padding-top: 7rem;
  gap: 2rem;
}

.card {
  padding: 1rem;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
  border-radius: 8px;
  color: antiquewhite;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.about {
  height: 70vh;
}

.title-about {
  font-size: 2.2rem;
  text-align: center;
  position: relative;
}

.title-about::before {
  content: '';
  position: absolute;
  height: .3rem;
  width: 12.5rem;
  bottom: 0;
  border-radius: 8px;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

.card-about {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.text-field {
  font-size: 1.2rem;
  padding-top: 2rem;
  width: 45rem;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.field-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  position: relative;
}
.field-footer::before {
  content: '';
  position: absolute;
  height: .1rem;
  width: 100%;
  top: 0;
  background-color: #6C63FF;
}

.links h2 {
  display: inline;
  padding-right: 1rem;
  font-size: 2.5rem;
}

