@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
  height: 100%;
  background-color: #251D3A;
  margin-left: 10%;
  margin-right: 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  height: 8vh;
}

.img-logo {
  height: 3rem;
  cursor: pointer;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

.mobile-menu div {
  width: 1.2rem;
  height: .1rem;
  background: white;
  margin: .3rem;
  transition: 0.3s;
}

.menu {
  display: flex;
  gap: 1.5rem;
}

.menu-iten {  
  font-size: 1.2rem;
  cursor: pointer;
}

.menu a:hover {
  color: plum;
  transform: scale(1.05);
}

.banner {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;

  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.img-banner img {
  height: 50vh;
}

.title-port {
  font-size: 2.2rem;
  text-align: center;
  position: relative;
}

.title-port::before {
  content: '';
  position: absolute;
  height: .3rem;
  width: 10rem;
  bottom: 0;
  border-radius: 8px;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

.project {
  padding-bottom: 4%;
}

.img-project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  padding-top: 4rem;
  gap: 1rem;
}

.card {
  padding: 1rem;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
  border-radius: 8px;
  color: antiquewhite;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 20rem;
}

.card img {
  width: 100%;
}

.about {
  height: 60vh;
}

.title-about {
  font-size: 2.2rem;
  text-align: start;
  position: relative;
}

.title-about::before {
  content: '';
  position: absolute;
  height: .3rem;
  width: 12.5rem;
  bottom: 0;
  border-radius: 8px;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

.card-about {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.text-field {
  font-size: 1.4rem;
  padding-top: 2rem;
  width: 35rem;
  letter-spacing: .1em;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding-bottom: 1.5rem;
  justify-items: center;
}

.field-footer { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  position: relative;
}
.field-footer::before {
  content: '';
  position: absolute;
  height: .1rem;
  width: 100%;
  top: 0;
  background-color: #6C63FF;
}

.links {
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
  font-size: 2rem;
  gap: 2rem;
}


@media screen and (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .menu {
    position: absolute;
    top: 10vh;
    width: 50vh;
    height: 60vh;
    background: #251D3A;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .menu-iten a {
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  .container {
    width: 18rem;
    font-size: 2rem;
  }
  .container p {
    font-size: 2rem;
    text-align: center;
  }

  .img-banner img {
    height: 17rem;
  }

  .title-port {}
}

@media screen and (max-width: 740px) {
  .title-port {
    position: absolute;
  }

  .banner {
    display: grid;
    height: 60vh;
  }

  .img-banner img {
    height: 17rem;
  }

  .img-project {
    display: grid;
    justify-content: center;
  }

  .card-about img {
    display: none;
  }
  
  .text-field {
    font-size: 1.2rem;
    text-align: justify;
  }

  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.menu.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-4px, 4px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}